env/
build/
dist/
data/
Utils/
flagged/
msa_toolbox/datasets/__pycache__/
msa_toolbox/models/__pycache__/
msa_toolbox/utils/__pycache__/
msa_toolbox/__pycache__/
msa_toolbox/cfgs/
msa_toolbox.egg-info/
msa_toolbox/data/
testing1.ipynb
testing2.ipynb
testing3.ipynb
testing4.ipynb
testing5.ipynb
testing6.ipynb
.ipynb_checkpoints/
testing_checkpoint&transform.ipynb
testing1.py
testing2.py
testing3.py
testing4.py
nohup1.out
nohup2.out
nohup3.out
nohup4.out
msa_toolbox/results/
# msa_toolbox/ui/configs/
msa_toolbox/ui_gradio/__pycache__/
msa_toolbox/ui_flask/__pycache__/