env/
build/
dist/
data/
utils_train/
Test/
flagged/
**/__pycache__/
.vscode/
logs/
msa_toolbox/cfgs/
msa_toolbox.egg-info/
msa_toolbox/data/
testing1.ipynb
.ipynb_checkpoints/
testing_checkpoint&transform.ipynb
testing1.py
test.ipynb
msa_toolbox/results/
out/